.shadow {
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
}
*{
  background-color: transparent;
  scrollbar-width: none;
}



div{
  background-color: transparent;
  border: none !important;
}

/* Chat List */
.ce-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(13px) saturate(180%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.61);

  /* background-color: #4a5162 !important; */
}

.ce-chat-list{
  background-color: transparent !important;
}

.ce-chats-container {
  height: 100%;
  background-color: transparent !important;
  border-radius: 0px !important;
}

.ce-chats-container>div>span{
  width: 100%;
}

.ce-chat-form-container {
  background-color: transparent !important;
  color: white;
}

.ce-feed-container-top{
  background-color: transparent !important;
}

.ce-chat-card {
  margin: 0px 6px !important;
  margin-top: 0.5rem !important;
}

.ce-chat-card-loading-bar {
  background-color: #303542 !important;
}

.ce-active-chat-card {
  background-image: linear-gradient(
    135deg,
    hsl(240deg 100% 20%) 0%,
    hsl(256deg 100% 23%) 9%,
    hsl(272deg 100% 25%) 18%,
    hsl(288deg 100% 28%) 27%,
    hsl(304deg 100% 31%) 36%,
    hsl(320deg 100% 34%) 45%,
    hsl(335deg 100% 36%) 55%,
    hsl(351deg 100% 39%) 64%,
    hsl(7deg 100% 42%) 73%,
    hsl(23deg 100% 45%) 82%,
    hsl(39deg 100% 47%) 91%,
    hsl(55deg 100% 50%) 100%
  ) !important;
    color: white !important;
    
   
}

.ce-chat-title-text {
  background-color: transparent !important;
  color:#fff !important;
  font-size: 1.2rem;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.ce-chat-subtitle-text {
  color: rgba(255, 255, 255, 0.678) !important;
  
}

.ce-chat-unread-dot {
  background-color: white !important;
}

/* Chat Feed */

.ce-chat-title-container {
  /* background: rgb(0,0,0) !important; */
  background-color: transparent !important;
  border-radius: 0px !important;
}

.ce-chat-feed{
  background-color: transparent !important;
}

.false{
  background-color: #3b2769a4;
  border-radius: 15px !important;
  /* border: 1px solid red !important; */
}

.ce-chat-feed-container {
  background-color: transparent !important;
}

.ce-primary-button {
  background-image: linear-gradient(
    135deg,
    hsl(240deg 100% 20%) 0%,
    hsl(256deg 100% 23%) 9%,
    hsl(272deg 100% 25%) 18%,
    hsl(288deg 100% 28%) 27%,
    hsl(304deg 100% 31%) 36%,
    hsl(320deg 100% 34%) 45%,
    hsl(335deg 100% 36%) 55%,
    hsl(351deg 100% 39%) 64%,
    hsl(7deg 100% 42%) 73%,
    hsl(23deg 100% 45%) 82%,
    hsl(39deg 100% 47%) 91%,
    hsl(55deg 100% 50%) 100%
  ) !important;
    color: white !important;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
    box-shadow: -15px -10px 50px 5px #7300ff8c !important;
}

.ce-message-date-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-my-message-bubble {
  /* background-color: #726dfe !important; */
  margin-right: 0.5rem;
  /* transform: translateX(-10%); */
  background-image: linear-gradient(
    225deg,
    hsl(257deg 100% 32%) 0%,
    hsl(222deg 86% 44%) 37%,
    hsl(188deg 100% 58%) 99%
  ) !important;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
  box-shadow: -5px 10px 38px -9px #27E2FF !important;
}

.ce-my-message-sinding-bubble {
  background-color: #938ffe !important;
}

.ce-my-message-timestamp {
  color: #27D9FF !important;
}

.ce-their-message-timestamp {
  color: hsla(0, 0%, 100%, 0.568) !important;
  /* margin-left: 2rem; */
}

#ce-send-message-button {
  background-image: linear-gradient(
    225deg,
    hsl(257deg 100% 32%) 0%,
    hsl(222deg 86% 44%) 37%,
    hsl(188deg 100% 58%) 99%
  ) !important;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
  box-shadow: -5px 10px 38px -9px #27E2FF !important;
  position: absolute;
  right:10px !important;
}

#ce-ice-breaker-gif {
  max-width: 115px !important;
  margin-top: 30px !important;
}

.ce-social-message-form {
  background-color: transparent !important;
  /* display: none; */
}

.ce-social-message-form>*{
  background-color: transparent;
}

#msg-textarea{
  background-color: transparent !important;
  /* border: 2px solid rgb(65, 255, 65) !important; */
}

.ce-message-input-form {
  /* display: none; */
  background: transparent  !important;
  padding-bottom: 10px !important;
}

#msg-textarea {
  /* width: calc(100% - 140px) !important; */
  width: 60% !important;
  height: 3rem !important;
  position: relative !important;
  top: 1px !important;
  border-width: 1px ;
  background-color: transparent !important;
  border-radius: 2rem;
}
#msg-textarea::placeholder {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-upload-document-icon {
  color: white !important;
}

#ce-upload-document-icon>svg{
  margin-right: 0.5rem;
}

.ce-feed-container-bottom {
  background-color: transparent !important;
  height: "44px";
}



.ce-message-images-row {
  background-color: transparent !important;
}

.ce-their-message-sender {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-their-message-bubble {
  /*👉background-color: #535a6d !important;
  color: rgba(255, 255, 255, 0.705) !important;👈*/
  margin-left: 0.5rem;
  background-image: linear-gradient(
  135deg,
  hsl(240deg 100% 20%) 0%,
  hsl(256deg 100% 23%) 9%,
  hsl(272deg 100% 25%) 18%,
  hsl(288deg 100% 28%) 27%,
  hsl(304deg 100% 31%) 36%,
  hsl(320deg 100% 34%) 45%,
  hsl(335deg 100% 36%) 55%,
  hsl(351deg 100% 39%) 64%,
  hsl(7deg 100% 42%) 73%,
  hsl(23deg 100% 45%) 82%,
  hsl(39deg 100% 47%) 91%,
  hsl(55deg 100% 50%) 100%
) !important;
  color: white !important;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
  box-shadow: 15px 10px 50px -10px #e6ff06c2 !important;
}


.ce-avatar{
  margin-left: 0.5rem;
}

/* Chat Settings */

.ce-settings {
  background-color: transparent !important;
  border-radius: 0px !important;
}

.ce-chat-title{
  background-color: transparent !important;
}

.ce-chat-title-form .ce-text-input {
  background-image: linear-gradient(
    225deg,
    hsl(257deg 100% 32%) 0%,
    hsl(222deg 86% 44%) 37%,
    hsl(188deg 100% 58%) 99%
  ) !important;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
  box-shadow: -5px 10px 38px -9px #27E2FF !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* box-shadow: 0px 0px 36px 13px rgba(0,0,0,0.1); */
  color: white;
}

.ce-section-title-container {
  background-color: transparent !important;
  color: white;
}

#ce-options-drop-down {
  background-color: transparent !important;
  color: white;
}

.ce-person-text {
  color: hsla(0, 0%, 100%, 0.568);
}



.ce-autocomplete-options>div>div{
  background-color: transparent !important;
  color: white !important;
  gap: 5px !important;
  padding-top: 1rem !important;
}
.ce-autocomplete-options{
  background-color: transparent !important;
}

.ce-autocomplete-options>div{
 /*👉 backdrop-filter: blur(17px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(17px) saturate(180%) !important;👈*/
  background-color: #413beb33 !important;
}


.ce-chat-settings-mobile-option>div{
  background-color: transparent;
}

#ce-social-msg-form-container{
  background-color: transparent !important;
  position: sticky;
}

.ce-chat-settings-mobile-option>div>div{
  backdrop-filter: blur(15px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(15px) saturate(180%) !important;
  background-color: rgba(0, 0, 0, 0.72) !important;
}

.ce-chat-list-mobile-option>div>div{
  backdrop-filter: blur(15px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(15px) saturate(180%) !important;
  background-color: rgba(0, 0, 0, 0.72) !important;
}

input{
  color: white !important;
}
.ce-my-message-attachments-container{
  margin-right: 1rem;
}

.ce-my-message-attachments-container>img{
  border: none !important;
}

.ce-their-message-attachments-container{
  margin-left: 1rem;
}

.ce-their-message-attachments-container>img{
  border: none !important;
}

.ce-person-container{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #3b36df70;
  padding: 0.5rem;
  border-radius: 1rem;
}

.ce-person-text{
  margin-left: 0.5rem;
  color: whitesmoke;
}

.ce-avatar-status{
  width: 1rem !important;
  height: 1rem !important;
  opacity: 0.9;
}

.ce-photo-thumbnail{
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 55px -33px #fff;
}

*{
  /* border: 2px solid rgb(62, 255, 62) !important; */
}
html{
  background-color:  red !important;
}

#ce-delete-chat-button {
  background-image: none !important;
  background-color: rgba(255, 86, 86, 0.295) !important;
  border: 1px solid red !important ;
  color: #fff !important ;
  box-shadow: none !important;
}
.ce-avatar-dot{
  background-size: cover;
  transform: scale(2);
}

.ce-chat-feed-container{
  scrollbar-base-color: transparent !important;
  scrollbar-face-color: transparent !important;
  scrollbar-width: 0px !important;
}