.shadow {
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}
html{
  height: 100vh;
  width: 100vw;
}
/*👉body{
  overflow-x: hidden;
  overflow-y: hidden;
}👈*/
*{
  background-color: transparent;
  scrollbar-width: none;
}



div{
  background-color: transparent;
  border: none !important;
}

/* Chat List */
.ce-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.62);

  /* background-color: #4a5162 !important; */
}

.ce-chat-list{
  background-color: transparent !important;
}

.ce-chats-container {
  height: 100%;
  background-color: transparent !important;
  border-radius: 0px !important;
}

.ce-chats-container>div>span{
  width: 100%;
}

.ce-chat-form-container {
  background-color: transparent !important;
  color: white;
}

.ce-feed-container-top{
  background-color: transparent !important;
}

.ce-chat-card {
  margin: 0px 6px !important;
}

.ce-chat-card-loading-bar {
  background-color: #535a6d !important;
}

.ce-active-chat-card {
  background-color: #726dfe !important;
}

.ce-chat-title-text {
  background-color: transparent !important;
  color: #fff !important;
}

.ce-chat-subtitle-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-chat-unread-dot {
  background-color: white !important;
}

/* Chat Feed */

.ce-chat-title-container {
  background-color: transparent !important;
  border-radius: 0px !important;
}

.ce-chat-feed{
  background-color: transparent !important;
}

.ce-chat-feed-container {
  background-color: transparent !important;
  
}

.ce-primary-button {
  background-color: #9a97fc !important;
}

.ce-message-date-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-my-message-bubble {
  background-color: #726dfe !important;
}

.ce-my-message-sinding-bubble {
  background-color: #938ffe !important;
}

.ce-my-message-timestamp {
  color: #9a97fc !important;
}

.ce-their-message-timestamp {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-send-message-button {
  background-color: #9a97fc !important;
}

#ce-ice-breaker-gif {
  max-width: 115px !important;
  margin-top: 30px !important;
}

.ce-social-message-form {
  background-color: transparent !important;
  /* display: none; */
}

.ce-social-message-form>*{
  background-color: transparent;
}

#msg-textarea{
  background-color: transparent !important;
}

.ce-message-input-form {
  /* display: none; */
  background: transparent  !important;
  padding-bottom: 10px !important;
}

#msg-textarea {
  width: calc(100% - 140px) !important;
  position: relative !important;
  top: 4px !important;
  border-width: 0px !important;
  background-color: transparent !important;
}
#msg-textarea::placeholder {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-upload-document-icon {
  color: white !important;
}

.ce-feed-container-bottom {
  background-color: transparent !important;
  height: "44px";
}



.ce-message-images-row {
  background-color: transparent !important;
}

.ce-their-message-sender {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-their-message-bubble {
  background-color: #535a6d !important;
  color: rgba(255, 255, 255, 0.705) !important;
}

/* Chat Settings */

.ce-settings {
  background-color: transparent !important;
  border-radius: 0px !important;
}

.ce-chat-title{
  background-color: transparent !important;
}

.ce-chat-title-form .ce-text-input {
  background-color: #726dfe !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 36px 13px rgba(0,0,0,0.1);
  color: white;
}

.ce-section-title-container {
  background-color: transparent !important;
  color: white;
}

#ce-options-drop-down {
  background-color: transparent !important;
  color: white;
}

.ce-person-text {
  color: hsla(0, 0%, 100%, 0.568);
}

.ce-danger-button {
  background-color: #4a5162 !important;
  border: 1px solid #9a97fc !important;
  color: #9a97fc !important;
}

.ce-autocomplete-close {
  background-color: white !important;
  border-radius: 0px !important;
}

.ce-chat-settings-mobile-option>div{
  background-color: transparent;
}

#ce-social-msg-form-container{
  background-color: transparent !important;
}

.ce-chat-settings-mobile-option>div>div{
  background-color: #1919198a !important;
}

.ce-chat-list-mobile-option>div>div{
  background-color: #1919198a !important;
}

input{
  color: white !important;
}